@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fugaz+One&display=swap");
@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-bakbak: "Bakbak One", sans-serif;
  --font-fugaz: "Fugaz One", sans-serif;

  --color-primary: #212121;
  --color-secondary: #ffffff;
  --color-accent: #fdce00;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 3s ease-in-out infinite 1.5s;
  }

  .animate-scroll {
    animation: scroll 1.5s ease-in-out infinite;
  }

  .animate-skillBar {
    animation: skillBar 1.5s ease-out;
  }

  .bg-grid-pattern {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(12px);
      opacity: 0;
    }
  }

  @keyframes skillBar {
    from {
      width: 0;
    }
  }
}

.clip-notch {
  clip-path: polygon(25% 100%, 0 0, 100% 0, 75% 100%);
  border-radius: 0 0 100% 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}
